<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout--heading">Ready to Get Started ?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam voluptates sunt porro Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, qui.odit, voluptatibus soluta beatae? Porro est veniam aliquam?</p>
        </div>
        <a href="#" class="btn btn--secondary btn--strected">Get Started</a>
    </div>
</div>